body {
    background: url("../Images/red-and-white-designplus.jpg");
    top: 150px;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

}

head {
}

.container {
    margin-left: 300px;
    margin-right: auto;
    width: 1200px;
}

.Menu {
    font-size: .85em;
    font-family: Verdana;
    color: #232323;
    top: 10%;
    left: 25%;
    margin: 0 auto;
    width: 600px;
    position:absolute
}



.Content {
    font-size: .85em;
    font-family: Verdana;
    color: #232323;
    top: 15%;
    left: 25%;
    margin: 0 auto;
    width: 600px;
    position:absolute

}

.Login {
    font-size: .85em;
    font-family: Verdana;
    color: #232323;
    top: 90px;
    left: 25%;
    margin: 0 auto;
    width: 600px;
    position: absolute;
}
