@{
    ViewBag.Title = "_AdminBookingHistoriesddl";
}
@{ Layout = ""; }
        <div id="users">
            <h2>Bokningshistorik</h2>
            <br/>
            @Html.DropDownList("users")
        </div>
