@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{  
    <p>
        Användarnamn @Html.TextBox("tbxName")
        Lösenord @Html.Password("tbxPassword")
        @{  // Skriver ut felmeddelande ifall fel användarnamn eller lösenord angivits.
            if (ViewBag.Message != null)
            {
                <br /><b>@ViewBag.Message</b>
            }
        }
        <br />
        <input type="submit" value="Logga in" />
    </p>
    
}
