@using Group5ScrumProject
@using System.Web.UI.WebControls

@model List<Group5ScrumProject.Models.BookingHistory>
@{
    ViewBag.Title = "AdminBookingHistories";
}
<div class="Content">
@{
    Html.RenderAction("_AdminBookingHistoriesddl", "Home");
}
    <script>
            $("#users").change(function() {
                var selectedVal = $(this).find(':selected').val();
                $.ajax({
                    url: "@Url.Action("_AdminBookingHistoriesWebGrid")",
                    data: { id: selectedVal },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function(data) {
                        SetData(data);
                    }
                });

                function SetData(data) {
                    $("#divPartialView").html(data); // Ersätter div'en
                }

            });
        </script>

        <div id="divPartialView"></div>
        <br/>
        <br/>
        @Html.ActionLink("Tillbaka", "AdminViewSettings")
    </div>