@using Group5ScrumProject
@model IEnumerable<Group5ScrumProject.Models.Room>

@{
    ViewBag.Title = "AdminRoomDelete";
}
<div class="Content">
<h2>Ta bort rum</h2>
@using (Html.BeginForm("AdminRoomDelete", "Home", FormMethod.Post))
{    
<table>
    @foreach (var item in ViewBag.Rooms)
    {
        <tr>
            <td>
                Rum: @item.sRoomName
            </td>
            <td>
                @Html.ActionLink("Ta bort", "AdminRoomDelete", new { id = item.iRoomId})
            </td>
        </tr>
    } 

</table>
    <br />
    <input type="submit" value="Bekräfta borttagning" /> <br />
    @ViewBag.Message    
    <br /><br />
}
@Html.ActionLink("Tillbaka","AdminViewSettings")

    </div>