@using Group5ScrumProject

@if (ViewBag.User == null)
	{
        Html.RenderAction("Login");
	}
Välkommen @ViewBag.User.sUserName - @ViewBag.User.sUserRole

@if (ViewBag.User.sUserRole == "Admin")
{
    <br />
    <a href="AdminViewSettings"> <input id="btnAdmin" type="button" value="Admin inställningar" /></a>
}  

@foreach (var r in ViewBag.Rooms)
{
    <p>
        Rumnamn: @r.sRoomName
        <br />
        Antal platser:  @r.iRoomChairs
    </p>
}

