@using Group5ScrumProject
@{
    User user = new User((tbUser)ViewBag.User);
}

@if (ViewBag.User == null)
	{
        Html.RenderAction("Login");
	}
Välkommen @user.sUserName - @user.sUserRole

@if (user.sUserRole == "Admin")
{
    <br />
    <a href="AdminViewSettings"> <input id="btnAdmin" type="button" value="Admin inställningar" /></a>
}  

@foreach (var r in ViewBag.Rooms)
{
    <p>
        Rumnamn: @r.sRoomName
        <br />
        Antal platser:  @r.iRoomChairs
    </p>
}

