@{
    ViewBag.Title = "UploadFile";
}

<h2>Ladda upp fil</h2>

<form action="UploadFile" method="post" enctype="multipart/form-data">
  <input type="file" value="Välj fil" name="FileUpload1" /><br />
  <input type="submit" name="Submit" id="Submit" value="Ladda upp" />
  <br />
  @ViewBag.Message
</form>

@Html.ActionLink("Tillbaka", "AdminViewSettings")